.info-header {
    font-size: 30px;
    margin: 3% auto auto 5%;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px auto auto 5%;
}

.info {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 5px 5px grey;
    transition: background-color 0.3s;
}

.listbox-container {
    height: 100vh; /* Equivalent to h-screen */
    margin: 0 auto; /* Equivalent to mx-auto */
    padding-top: 2px; /* Equivalent to pt-20 */
    width: 20px; /* Equivalent to w-52 */
  }
  
.listbox-button { /*styles the input button*/
    background-color: white;
    border-radius: 3px; /* Equivalent to rounded-lg */
    border: 1px solid grey;
    position: relative;
    text-align: left;
    height: 20px;
    width: 150px;
    font-size: 13px;
}

.listbox-button:hover {
    background-color: #ebebeb;
    cursor: pointer;
}
  
.listbox-options { /* styles the options */
    background-color: white;
    border-radius: 5px; /* Equivalent to rounded-xl */
    opacity: 1; /* Initial opacity, will be animated to 0 on leave */
    padding: 5px; /* Equivalent to p-1 */
    transition: opacity 100ms ease-in; /* Equivalent to transition duration-100 ease-in */
    width: 150px;
}
  
.listbox-option {
    background-color: transparent; /* Initial background color */
    border-radius: 5px; /* Equivalent to rounded-lg */
    cursor: pointer;
    display: flex;
    gap: 0.5rem; /* Equivalent to gap-2 */
    padding: 0.375rem 0.75rem; /* Equivalent to py-1.5 px-3 */
    font-size: 13px;
}

.listbox-option:hover {
    background-color: #ebebeb
}

.listbox-option:focus {
    background-color: #ebebeb;
}

.backIcon {
    fill: #E56565;
    width: 50px;
    height: 50px;
    margin: 10px 0 0 10px;
}

.backIcon:hover {
    fill: #c04848;
    cursor: pointer;
}