.btn {
    padding: 0.5rem 0.7rem;
    background-color: #E56565;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #c04848;
}

.dialog-container {
    position: relative;
    z-index: 50;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.dialog-panel {
    max-width: 32rem;
    background-color: white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.addIcon {
    color: #E56565;
    width: 40px;
    height: 40px;
}

.addIcon:hover {
    color: #c04848;
}